{% extends 'base.html' %}

{% block title %}User Email{% endblock %}

{% block content %}
    <style>
        .user-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
            list-style: none;
            padding: 0;
            margin-top: 10px;
            gap: 20px;
        }

        .user-card {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            padding: 10px;
            width: 40%;
            line-height: 1.2;
            box-sizing: border-box;
            margin-left: 30vh;
        }

        .user-card p {
            color: #ffffff;
            margin-bottom: 10px; 
            font-size: 0.8em; 
        }

        .user-card .delete-btn,
        .user-card .update-btn {
            padding: 6px 9px; 
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            color: #ffffff;
            border: none;
            margin-left: 10px;
            margin-top: 10px; 
            font-size: 0.75em; 
        }

        .user-card .delete-btn {
            background-color: #c9626c;
        }

        .user-card .update-btn {
            background-color: #1abc9c;
        }

        .user-card .delete-btn:hover {
            background-color: #c82333;
        }

        .user-card .update-btn:hover {
            background-color: #296559;
        }

        .message {
            font-size: 0.75em; 
        }

        .title {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 15px; 
            border-radius: 15px;
            max-width: 450px; 
            font-size: 1.3em;
            margin: 0 auto; 
            margin-bottom: 30px;
        }

        .container {
            margin-top: -20vh;
            padding: 0 20px;
            background: none; 
        }
    </style>

    <div class="container">
        <div>
            <h1 class="title">Registers for {{ user_records.0.email }}</h1>
        </div>

        <ul class="weather-list"></ul>
            {% for record in user_records %}
                <div class="user-card">
                    <p>Username: {{ record.email }}</p>
                    <div>
                        {% if record.id %}
                            <button class="update-btn" data-pk="{{ record.id }}" data-update-url="{% url 'user-get' pk=record.id %}">Update</button>
                            <button class="delete-btn" data-pk="{{ record.id }}" data-delete-url="{% url 'user-delete' pk=record.id %}">Excluir</button>
                        {% else %}
                            <p class="message">ID vazio</p>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p style="text-align: center;">Nothing found!.</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
