{% extends 'base.html' %}

{% block title %}Criar usuário{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h2 style="color: #6985a3; margin-bottom: 30px;">Cadastre-se</h2>
        <form id="createUserForm" method="post" action="{% url 'user-create' %}" style="max-width: 400px; margin: 0 auto;">
            {% csrf_token %}
            <div style="margin-top: 20px;">
                <!-- Campos do formulário -->
                <div style="margin-bottom: 20px;">
                    <label for="email" style="font-size: 16px; color: #333; margin-bottom: 5px;">Email:</label>
                    <input type="email" id="email" name="email" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="username" style="font-size: 16px; color: #333; margin-bottom: 5px;">Nome de usuário:</label>
                    <input type="text" id="username" name="username" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="password" style="font-size: 16px; color: #333; margin-bottom: 5px;">Senha:</label>
                    <input type="password" id="password" name="password" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" required>
                </div>
            </div>

            <!-- Botão de submissão do formulário -->
            <button type="submit" style="display: block; margin: 0 auto; padding: 12px 24px; background-color: #6985a3; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Criar Usuário</button>
        </form>
    </div>
{% endblock %}


