{% extends 'base.html' %}

{% block title %}User Email{% endblock %}

{% block content %}
    <style>
        /* Estilos para os cards de clima */
        .user-card {
            width: 300px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            padding: 30px;
            margin-bottom: 20px;
            margin-top: 100px;
            margin-left: 650px;

        }

        .user-card p {
            margin: 0;
            color: #ffffff;
            margin-left: 40px;
            margin-bottom: 30px;
        }

        .user-card .delete-btn,
        .user-card .update-btn {
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            color: #ffffff;
            border: none;
            margin-left: 55px;
        }

        .user-card .delete-btn {
            background-color: #c9626c;
        }

        .user-card .update-btn {
            background-color: #1abc9c;
        }

        .user-card .delete-btn:hover{
            background-color: #c82333;
        }

        .user-card .update-btn:hover {
            background-color: #296559;
        }
    </style>

    <!-- Título dinâmico -->
    <h1 style="text-align: center; background-color: rgba(0, 0, 0, 0.5); padding: 30px; border-radius: 15px; width: 800px; margin-left: 400px;">Registers for {{ user_records.0.email }}</h1>

    {% for record in user_records %}
        <div class="user-card">
            <p>Username: {{ record.email }}</p>
            <div>
                {% if record.id %}
                    <!-- Renderiza o botão de atualização -->
                    <button class="update-btn" data-pk="{{ record.id }}" data-update-url="{% url 'user-get' pk=record.id %}">Update</button>
                    <!-- Renderiza o botão de exclusão -->
                    <button class="delete-btn" data-pk="{{ record.id }}" data-delete-url="{% url 'user-delete' pk=record.id %}">Excluir</button>
                {% else %}
                    <!-- Se o registro não tiver um ID válido, exiba uma mensagem -->
                    <p class="message">ID vazio</p>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p style="text-align: center;">Nothing found!.</p>
    {% endfor %}
{% endblock %}
