{% extends 'base.html' %}

{% block title %}User Create{% endblock %}

{% block content %}
    <style>
        button{
            display: block; 
            margin: 0 auto; 
            margin-top: 50px;
            padding: 12px 24px; 
            background-color: #6985a3; 
            color: #fff; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer;
        }

        button:hover {
            background-color: #234e54;  
        }
    </style>

    <div style="background-color: rgba(0, 0, 0, 0.5); width: 450px; height: auto; border-radius: 15px; padding: 30px; margin-left: 70vh; margin-top: 15vh;">
        <h2 style="color: #ffffff; margin-bottom: 30px; margin-left: 120px;">Create your account</h2>
        <form id="createUserForm" method="post" action="{% url 'user-create' %}" style="margin: 0 auto;">
            {% csrf_token %}
            <div>
                <div style="margin-bottom: 20px;">
                    <label for="email" style="font-size: 16px; color: #ffffff; margin-bottom: 5px;">Email:</label>
                    <input type="email" id="email" name="email" style="width: 55%; padding: 10px; border-radius: 5px; margin-left: 74px;" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="username" style="font-size: 16px; color: #ffffff; margin-bottom: 5px;">Username:</label>
                    <input type="text" id="username" name="username" style="width: 55%; padding: 10px; border-radius: 5px;margin-left: 40px;" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="password" style="font-size: 16px; color: #ffffff; margin-bottom: 5px;">Password:</label>
                    <input type="password" id="password" name="password" style="width: 55%; padding: 10px; border-radius: 5px; margin-left:42px ;" required>
                </div>
            </div>

            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}
