{% extends 'base.html' %}

{% block title %}User Update{% endblock %}

{% block content %}
    <style>
        button {
            display: block; 
            margin: 0 auto; 
            margin-top: 30px;
            padding: 12px 24px; 
            background-color: #6985a3; 
            color: #fff; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer"
        }
        button:hover {
            background-color: #234e54;  
        }
    </style>
    
    <div style="background-color: rgba(0, 0, 0, 0.5); width: 400px; height: auto; border-radius: 15px; padding: 20px; margin: 5vh auto;">
        <h2 style="color: #ffffff; margin-bottom: 20px">Change your data</h2>
        
        <form id="update-form" method="post" action="{% url 'user-update' pk=pk %}" style="margin-left: 5px;">
            {% csrf_token %}
            <div>
                <div style="margin-bottom: 20px;">
                    <label for="email" style="font-size: 14px; color: #ffffff; margin-bottom: 5px;">Email:</label>
                    <input type="email" id="email" name="email" style="width: 55%; padding: 10px; border-radius: 5px; margin-left: 55px;" value="{{ user.email }}" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="username" style="font-size: 14px; color: #ffffff; margin-bottom: 5px;">Username:</label>
                    <input type="text" id="username" name="username" style="width: 55%; padding: 10px; border-radius: 5px;margin-left: 26px;" value="{{ user.username }}" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="password" style="font-size: 14px; color: #ffffff; margin-bottom: 5px;">Password:</label>
                    <input type="password" id="password" name="password" style="width: 55%; padding: 10px; border-radius: 5px; margin-left:29px ;" required>
                </div>
            </div>

            <!-- Botão de submissão do formulário -->
            <button type="submit">Update</button>
        </form>
    </div>
{% endblock %}
