{% extends 'base.html' %}

{% block title %}Weather City{% endblock %}

{% block content %}

    <style>
        /* Estilos para os cards de clima */
        .weather-card {
            width: 300px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            padding: 30px;
            margin-bottom: 20px;
            margin-top: 80px;
            margin-left: 610px;
        }

        .weather-card p {
            margin: 0;
            color: #ffffff;
            margin-left: 45px;
            margin-bottom: 30px;
        }

        .weather-card .delete-btn,
        .weather-card .update-btn {
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            color: #ffffff;
            border: none;
            margin-left: 60px;
        }

        .weather-card .delete-btn {
            background-color: #c9626c;
        }

        .weather-card .update-btn {
            background-color: #1abc9c;
        }

        .useweather-card .delete-btn:hover{
            background-color: #c82333;
        }

        .weather-card .update-btn:hover {
            background-color: #296559;
        }
    </style>

    <h1 style="text-align: center; background-color: rgba(0, 0, 0, 0.5); padding: 30px; border-radius: 15px; width: 600px; margin-left: 510px;">Registers for {{ weather_records.0.city }}</h1>

    <div>
        <ul class="weather-list">
            {% for record in weather_records %}
                <li class="weather-card">
                    <p>Date: {{ record.date }}</p>
                    <p>Temperature: {{ record.temperature }}ºC</p>
                    <p>Atmospheric Pressure: {{ record.atmosphericPressure }} PA</p>
                    <p>Humidity: {{ record.humidity }}%</p>
                    <p>Weather Condition: {{ record.weather }}</p>
                    <div>
                        {% if request.user and record.id %}
                            <button class="update-btn btn btn-primary" data-pk="{{ record.id }}" data-update-url="{% url 'weather-get' pk=record.id %}">Update</button>
                            <button class="delete-btn btn btn-danger" data-pk="{{ record.id }}" data-delete-url="{% url 'weather-delete' pk=record.id %}">Excluir</button>
                        {% else %}
                            <p class="message">ID vazio</p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}    
        </ul>
    </div>
        

    <script>
        // Adicione os scripts JavaScript para interatividade
        document.querySelectorAll('.delete-btn').forEach(function(button) {
            button.addEventListener('click', function() {
                var deleteUrl = button.dataset.deleteUrl;
                if (confirm('Tem certeza que deseja excluir este registro?')) {
                    window.location.href = deleteUrl;
                }
            });
        });
    
        document.querySelectorAll('.update-btn').forEach(function(button) {
            button.addEventListener('click', function() {
                var updateUrl = button.dataset.updateUrl;
                window.location.href = updateUrl;
            });
        });
    </script>
{% endblock %}




