{% extends 'base.html' %}

{% block title %}Weather List{% endblock %}

{% block content %}
    <h2 style="text-align: center;">Registros</h2>
    <div class="weather-list-container">
        <ul class="weather-list">
            {% for record in weather_records %}
                <li class="weather-item">
                    <h3>{{ record.city }}</h3>
                    <p>Data: {{ record.date|date:"d/m/Y H:i:s" }}</p> 
                    <p>Temperatura: {{ record.temperature }}</p>
                    <p>Pressão: {{ record.atmosphericPressure }}</p> 
                    <p>Umidade: {{ record.humidity }}</p>
                    <p>Condição: {{ record.weather }}</p>
                    <div>
                        {% if record.id %}
                            <!-- Verifique se o registro possui um id válido -->
                            <button class="delete-btn btn btn-danger" data-pk="{{ record.id }}" data-delete-url="{% url 'weather-delete' pk=record.id %}">Excluir</button>
                        {% else %}
                            <!-- Se o registro não tiver um id válido, exiba uma mensagem -->
                            <p>id vazio</p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script>  
        document.querySelectorAll('.delete-btn').forEach(function(button) {
            button.addEventListener('click', function() {
                var deleteUrl = button.dataset.deleteUrl;
                if (confirm('Tem certeza que deseja excluir este registro?')) {
                    window.location.href = deleteUrl;
                }
            });
        });
    </script>
{% endblock %}
