{% extends 'base.html' %}

{% block title %}Criar previsões{% endblock %}

{% block content %}
    <div style="margin-left: 250px; margin-right: 250px; text-align: center;">
        <h2 style="color: #6985a3; margin-bottom: 30px;">Criar Previsão do Tempo</h2>
        <form id="createWeatherForm" method="post" action="{% url 'weather-create' %}" style="max-width: 400px; margin: 0 auto;">
            {% csrf_token %}
            <div style="text-align: center;">

                <!-- Campo oculto para o ID -->
                <input type="hidden" id="id" name="id" value="null">

                <!-- Campos do formulário -->
                <div style="margin-bottom: 20px;">
                    <label for="city" style="display: block; margin-bottom: 5px; color: #333;">Cidade:</label>
                    <input type="text" id="city" name="city" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="date" style="display: block; margin-bottom: 5px; color: #333;">Data:</label>
                    <input type="datetime-local" id="date" name="date" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="temperature" style="display: block; margin-bottom: 5px; color: #333;">Temperatura:</label>
                    <input type="number" id="temperature" name="temperature" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="atmosphericPressure" style="display: block; margin-bottom: 5px; color: #333;">Pressão Atmosférica:</label>
                    <input type="number" id="atmosphericPressure" name="atmosphericPressure" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="humidity" style="display: block; margin-bottom: 5px; color: #333;">Umidade:</label>
                    <input type="number" id="humidity" name="humidity" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="weather" style="display: block; margin-bottom: 5px; color: #333;">Tempo:</label>
                    <input type="text" id="weather" name="weather" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;" required>
                </div>
            </div>

            <!-- Botão de submissão do formulário -->
            <button type="submit" style="display: block; margin: 0 auto; padding: 12px 24px; background-color: #6985a3; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Criar Previsão do Tempo</button>
        </form>
    </div>
{% endblock %}
