{% extends 'base.html' %}

{% block title %}Atualização de Previsão{% endblock %}

{% block content %}
<h2 style="text-align: center;">Atualização de Previsão de Tempo</h2>

    <div style="margin-left: 250px; margin-right: 250px; text-align: center;">
        <form method="post" action="{% url 'weather-update' pk=pk %}" id="update-form">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ weather.id }}">
            <label for="city-input">Cidade:</label>
            <input type="text" id="city-input" name="city" value="{{ weather.city }}" required><br><br>
            
            <label for="date-input">Data:</label>
            <input type="datetime-local" id="date-input" name="date" value="{{ weather.date }}" required><br><br>
            
            <label for="temperature-input">Temperatura:</label>
            <input type="text" id="temperature-input" name="temperature" value="{{ weather.temperature }}" required><br><br>
            
            <label for="pressure-input">Pressão Atmosférica:</label>
            <input type="text" id="pressure-input" name="atmosphericPressure" value="{{ weather.atmosphericPressure }}" required><br><br>
            
            <label for="humidity-input">Umidade:</label>
            <input type="text" id="humidity-input" name="humidity" value="{{ weather.humidity }}" required><br><br>
            
            <label for="weather-input">Condição do Tempo:</label>
            <input type="text" id="weather-input" name="weather" value="{{ weather.weather }}" required><br><br>
            
            <button type="submit">Atualizar Previsão</button>
        </form>
    </div>    
{% endblock %}
