{% extends 'base.html' %}

{% block title %}Weather City{% endblock %}

{% block content %}

    <style>
        /* Estilos para os cards de clima */
        .weather-card {
            width: 300px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            padding: 30px;
            margin-bottom: 20px;
            margin-top: 100px;
            margin-left: 650px;

        }

        .weather-card p {
            margin: 0;
            color: #ffffff;
            margin-left: 40px;
            margin-bottom: 30px;
        }

        .weather-card .delete-btn,
        .weather-card .update-btn {
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            color: #ffffff;
            border: none;
            margin-left: 55px;
        }

        .weather-card .delete-btn {
            background-color: #c9626c;
        }

        .weather-card .update-btn {
            background-color: #1abc9c;
        }

        .useweather-card .delete-btn:hover{
            background-color: #c82333;
        }

        .weather-card .update-btn:hover {
            background-color: #296559;
        }
    </style>

    <!-- Título dinâmico -->
    <h1 style="text-align: center; background-color: rgba(0, 0, 0, 0.5); padding: 30px; border-radius: 15px; width: 800px; margin-left: 400px;">Registros para {{ weather_records.0.city }}</h1>

    <div>
        <ul class="weather-list">
            {% for record in weather_records %}
                <li class="weather-card">
                    <p>Data: {{ record.date }}</p>
                    <p>Temperatura: {{ record.temperature }}</p>
                    <p>Pressão: {{ record.atmosphericPressure }}</p>
                    <p>Umidade: {{ record.humidity }}</p>
                    <p>Condição: {{ record.weather }}</p>
                    <div>
                        {% if request.user and record.id %}
                            <!-- Renderiza o botão de atualização -->
                            <button class="update-btn btn btn-primary" data-pk="{{ record.id }}" data-update-url="{% url 'weather-get' pk=record.id %}">Update</button>
                            <!-- Renderiza o botão de exclusão -->
                            <button class="delete-btn btn btn-danger" data-pk="{{ record.id }}" data-delete-url="{% url 'weather-delete' pk=record.id %}">Excluir</button>
                        {% else %}
                            <!-- Se o registro não tiver um ID válido, exiba uma mensagem -->
                            <p class="message">ID vazio</p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}    
        </ul>
    </div>
        

    <script>
        // Adicione os scripts JavaScript para interatividade
        document.querySelectorAll('.delete-btn').forEach(function(button) {
            button.addEventListener('click', function() {
                var deleteUrl = button.dataset.deleteUrl;
                if (confirm('Tem certeza que deseja excluir este registro?')) {
                    window.location.href = deleteUrl;
                }
            });
        });
    
        document.querySelectorAll('.update-btn').forEach(function(button) {
            button.addEventListener('click', function() {
                var updateUrl = button.dataset.updateUrl;
                window.location.href = updateUrl;
            });
        });
    </script>
{% endblock %}




